{{#if goals}}
  <h1>Here are some goals!</h1>
  Discretionary Funds Per Month: {{input placeholder=user.monthlyDisposableIncome}}
  {{#each goals as |goal| }}
    <p>----------------------------</p>
    <p>Goal: {{goal.name}}</p>
    When do you want to reach your goal?
    <br/>
    {{input placeholder=goal.months}} Months
    <br/>
    <br/>
    How much do you need?
    <br/>
    {{input placeholder=goal.amount}}
  {{/each}}
{{/if}}
